<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
<meta charset="UTF-8" /> 
<title>Spring Shop</title> 
</head> 
<body> 
    <h1 th:text="${helloMessage}"></h1> 
    <form th:action="@{/buy}" method="post"> 
        <p><input type="text" th:field="${formBasket.i1}" />Produkt1</p> 
        <p><input type="text" th:field="${formBasket.i1}" />Produkt2</p> 
        <p><input type="text" th:field="${formBasket.i1}" />Produkt3</p> 
        <p><input type="submit" value="Buy" /></p> 
    </form> 
</body> 
</html> 